@import 'vendors/variables/grid-variables';

@font-face {
  font-family: 'GTWalsheim Pro';
  src: url('../fonts/GTWalsheimProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTWalsheim Pro';
  src: url('../fonts/GTWalsheimProBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 18px/1.6 'GTWalsheim Pro', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;

  @media #{$breakpoint-md-up} {
    padding-left: 100px;
    padding-right: 100px;
  }

  &--full {
    max-width: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}